<header class="header">
  <h1>
    <strong>
      <a href="/">Duanly Corps</a>
    </strong>
  </h1>
  <p>Desarrollador web</p>
  <nav class="nav">
    <ul>
      <li><a href="/about" class="contrast">Acerca de mi</a></li>
      <li><a href="/blog" class="contrast">Blog</a></li>
      <li><a href="/contact" class="contrast">Contacto</a></li>
    </ul>
  </nav>
</header>