img {

  display: block;
  width: 50%;
  height: auto;
  border-bottom: 0cm solid #000;
  margin: 0 auto;


}

.form {
  display: block;
  max-height: 50%;
  height: auto;
  border-bottom: 0cm solid #000;
  margin: 0 auto;
}