<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="icon" href="/img/logo.png"/>
    {% googleFontsInline 'https://fonts.googleapis.com/css?family=Host+Grotesk:400&display=swap' %}
    <meta name="description" content="{{ descripcion }}"/> {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{css | cssmin | safe}}</style>
  </head>
  <body>
    <div id="skip">
      <a class="skip-link" href="#content">Saltar al contenido principal</a>
    </div>
    <section class="container">
      {% include "menu.njk" %}
    </section>
    <main id="content">{{ content | safe }}</main>
    {# {% include "footer.njk" %} #}
    <script type="module" src="js/index.js"></script>
  </body>
</html>